@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  body {
    font-family: sans-serif;
  }
}

body {
  min-height: 100vh;
  background-image: url("./images/img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow-x: hidden;
}

.container {
  display: grid;
  place-items: center;
  min-height: 80%;
  margin: 0.5rem;
}

[class^="row-"] {
  max-height: calc(100% / 3);
  line-height: 2;
  color: rgb(18, 232, 65);
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.row-1 p {
  background-color: red;
  padding: 5px;
  margin-top: 8px;
  border-radius: 8px;
}
.row-2 h4 {
  background-color: red;
  padding: 1.7px;
  margin-top: 8px;
  border-radius: 8px;
}
.row-3 img {
  min-height: 12.75rem;
  max-width: 18rem;
  margin-top: 10px;
  border-radius: 10px;
}
.row-4 h4 {
  background-color: black;
  padding: 6px;
  border-radius: 10px;
}
.row-5 h6 {
  background-color: rgb(99, 30, 149);
  padding: 5px;
  border-radius: 8px;
  margin: 7px;
  font-weight: 400;
}
.footer {
  position: fixed;
  bottom: 0%;
  min-height: 7%;
  width: 100%;
  background-color: aqua;
  display: grid;
  place-content: center;

  &-content {
    font-weight: bold;

    span {
      color: peru;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  [class^="row-"] {
    max-height: 100%;
    line-height: 2;
    color: rgb(232, 211, 18);
    font-size: 2rem;
    letter-spacing: 3px;
  }
  .row-1 p {
    background-color: red;
    padding: 0.3rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
  .row-2 h4 {
    background-color: red;
    padding: 1.7px;
    margin-top: 8px;
    border-radius: 8px;
  }
  .row-3 img {
    min-height: 22.75rem;
    max-width: 34rem;
    margin-top: 10px;
    border-radius: 10px;
  }
  .row-4 h4 {
    background-color: black;
    padding: 6px;
    border-radius: 10px;
  }
  .row-5 p {
    background-color: rgb(99, 30, 149);
    padding: 3px;
    border-radius: 0.5rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer {
    position: inherit;
    min-height: 7%;
    width: 100%;
    background-color: aqua;
    display: grid;
    place-content: center;

    &-content {
      font-weight: bold;

      span {
        color: peru;
      }
    }
  }
}
